In [4]:
import pandas as pd

In [5]:
#CAN NO LONGER IMPORT POPULATION FILE DELETED
#population = pd.read_csv("Data/Population_data.csv", skiprows=4)

In [6]:
#population.head()

NameError: name 'population' is not defined

In [ ]:
#Only keep columns Name, Code and 2021. Remove other columns
#population = population[["Country Name","Country Code", "2021"]]

In [ ]:
#Write updated file to a new csv
#population.to_csv("Population.csv")

In [32]:
df = pd.read_csv('Data/Population.csv')

In [33]:
df

     Unnamed: 0  Country Name Country Code        2021
0             0         Aruba          ABW    106537.0
1             2   Afghanistan          AFG  40099462.0
2             4        Angola          AGO  34503774.0
3             5       Albania          ALB   2811666.0
4             6       Andorra          AND     79034.0
..          ...           ...          ...         ...
215         261        Kosovo          XKX   1786038.0
216         262   Yemen, Rep.          YEM  32981641.0
217         263  South Africa          ZAF  59392255.0
218         264        Zambia          ZMB  19473125.0
219         265      Zimbabwe          ZWE  15993524.0

[220 rows x 4 columns]

In [34]:
df.drop(["Unnamed: 0"], axis=1, inplace=True)
#Drop additional unnecesasry column

In [31]:
df.sort_values(by=["2021"])

                 Country Name Country Code          2021
202                    Tuvalu          TUV  1.120400e+04
149                     Nauru          NRU  1.251100e+04
156                     Palau          PLW  1.802400e+04
211    British Virgin Islands          VGB  3.112200e+04
121  St. Martin (French part)          MAF  3.194800e+04
..                        ...          ...           ...
89                  Indonesia          IDN  2.737532e+08
207             United States          USA  3.318937e+08
91                      India          IND  1.407564e+09
37                      China          CHN  1.412360e+09
170                South Asia          SAS  1.901912e+09

[221 rows x 3 columns]

Drop rows which are not countries ie World, IDA & BRD total etc.

In [15]:
df.drop([156, 140, 103, 259], inplace=True)

In [17]:
df.drop([249, 139, 110, 62, 102], inplace=True)

In [ ]:
df.drop([249, 139, 110, 62, 102], inplace=True)

In [35]:
df.sort_values(by=["2021"])

                 Country Name Country Code          2021
201                    Tuvalu          TUV  1.120400e+04
149                     Nauru          NRU  1.251100e+04
156                     Palau          PLW  1.802400e+04
210    British Virgin Islands          VGB  3.112200e+04
121  St. Martin (French part)          MAF  3.194800e+04
..                        ...          ...           ...
152                  Pakistan          PAK  2.314021e+08
89                  Indonesia          IDN  2.737532e+08
206             United States          USA  3.318937e+08
91                      India          IND  1.407564e+09
37                      China          CHN  1.412360e+09

[220 rows x 3 columns]

Manually cleaned the data by going thorugh row by row and checking if it was a country or not

In [36]:
dfSO = pd.read_csv("Data/survey_result_clean_renamed.csv")

In [38]:
dfSO.head()

,Unnamed: 0,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,InteractOutsideOfImmediateTeam,KnowledgeSilo,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,SupportNewHiresOnboarding,LearnResourcesProvidedByEmp,GiveTimeToLearnNewSkill,ConvertedCompYearly
0,0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40205.0
3,3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215232.0
4,4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
dfSO.columns

Index(['Unnamed: 0', 'ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Sexuality', 'Ethnicity', 'Accessibility',
       'TBranch', 'ICorPM', 'WorkExp', 'InteractOutsideTeam',
       'KnowledgeSiloPrevent', 'UpToDateOrgInfo', 'FindAnsW/Tools',
       'KnowHowToFindAns', 'AnsQWhichAlreadyAnsBefore', 'WaitForAnsRuinW/Flow',
       'NeedHelpOutsideOfImmediateTeam', 'InteractOutsideOfImmediateTeam',
       'KnowledgeSilo', 'TimeSearching', 'TimeAnswering', 'Onboarding',
       'ProfessionalTech', 'SupportNewHiresOnboarding',
       'LearnResourcesProvidedByEmp', 'GiveTimeToLearnNewSkill',
       'ConvertedCompYearly'],
      dtype='object')

In [45]:
Nation_SO_Ans_Rate = dfSO["Country"].value_counts()

In [46]:
Nation_SO_Ans_Rate

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

In [ ]:
Nation_SO_Ans_Rate = Nation

In [ ]:
Nation_SO_Ans_Rate.to_csv("Answered_per_nation.csv")